# Join operation: merging main DataFrame with external dataset from "{{ step.join.with }}" on column "{{ step.join.on }}"
df_join = pd.read_csv("{{ step.join.with }}", sep="{{ step.join.separator | default(',') }}")
df = df.merge(df_join, on="{{ step.join.on }}", how="{{ step.join.how | default('inner') }}")
