# Write the result to a MariaDB table
engine_out = create_engine("mariadb+pymysql://{{ step.target.user }}:{{ step.target.password }}@{{ step.target.host }}/{{ step.target.database }}")
df.to_sql("{{ step.target.table }}", con=engine_out, if_exists="replace", index=False)