{%- if config.concurrent_write -%}{# concurrent write: no extra comment needed #}{%- endif -%}
{{- step.source_df -}}.to_csv("{{ step.target.filepath }}", sep="{{ step.target.separator }}", index=False)
